{% extends "base.html.twig" %}

{% block title %}AppBundle:Login:Login{% endblock %}

{% block body %}
 <div class="panel panel-success">
    <div class=""panel panel-heading>
        <h3>Login</h3>

    </div>
     <div class="panel-body">
         {% if errors %}
         <div class="alert alert-danger">
             {{ error.messageKey }}
         </div>
         {% endif %}
         <form action="{{ path('login') }}" method="post">
             <div class="form-group">
             <label for="username">Username:</label>
             <input type="text" name="_username" id="username" class="form-control" value="{{ username }}">
             </div>
             <div class="form-group">
             <label for="username">Password:</label>
             <input type="text" name="_password" id="password" class="form-control">
             </div>
             <button class="btn btn-info pull-right"> connect</button>
         </form>
     </div>
 </div>

             {% endblock %}
